/* General styles */
body {
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-image: url('img/Dark Sky.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    overflow: hidden;
}

/* Navbar styles */
.navbar {
    width: 100%;
    background-color: #333;
    display: flex;
    justify-content: center;
    padding: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3);
    position: fixed;
    top: 0;
    z-index: 1000;
}

.navbar ul {
    list-style: none;
    display: flex;
    gap: 20px;
    padding: 0;
    margin: 0;
}

.navbar ul li {
    display: inline;
}

.navbar ul li button {
    background-color: #72cdfa;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
}

.navbar ul li button:hover {
    background-color: #72cdfa;
    color: white;
}

/* Solar System styles */
.container {
    font-size: 10px;
    width: 40em;
    height: 40em;
    position: relative;
    margin-top: 70px; 
}

.container h1 {
    margin-top: 420px;
    color: #000;
    background-color: #72cdfa;
    text-align: center;
    cursor: pointer;
    border: 2px solid #ffcc00;
    border-radius: 20px;
}

.container h1:hover {
    background-color: #ffcc00;
    color: red;
}

.sun {
    position: absolute;
    width: 15em;
    height: 15em;
    top: 12.5em;
    left: 12.5em;
    background-color: #ffcc00;
    border-radius: 50%;
    box-shadow: 0 0 3em white;
}

.earth,
.moon {
    position: absolute;
    border-style: solid;
    border-color: white transparent;
    border-width: 0.1em 0.1em 0 0;
    border-radius: 50%;
    cursor: pointer;
}

.earth {
    top: 5em;
    left: 5em;
    width: 30em;
    height: 30em;
    animation: orbit-earth 36.5s linear infinite;
}

.moon {
    top: 0;
    right: 0;
    width: 8em;
    height: 8em;
    animation: orbit-moon 2.7s linear infinite;
}

.earth::before,
.moon::before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.earth::before {
    top: 2.8em;
    right: 2.8em;
    width: 3em;
    height: 3em;
    background-color: #72cdfa;
}

.moon::before {
    top: 0.8em;
    right: 0.2em;
    width: 1.2em;
    height: 1.2em;
    background-color: #ccc;
}

@keyframes orbit-earth {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

@keyframes orbit-moon {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

/* Footer styles */
.footer {
    width: 100%;
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    font-size: 14px;
    position: fixed;
    bottom: 0;
}
